%li{:class=> "clearfix record #{cycle('on', 'on-hover')}"}
  %span.site=post.blog.try(&:name)
  |
  %span.title=post.title
  %span.actions
    =link_to refinery_icon_tag('application_edit.png'), main_app.edit_refinery_admin_post_path(post),
      :title=> t('edit', :scope=>'refinery.yuzublog.admin.posts')
    =link_to refinery_icon_tag('delete.png'), main_app.refinery_admin_blog_path(post.blog),
      :class=> 'cancel confirm-delete', :title=> t('delete', :scope=>'refinery.yuzublog.admin.posts'),
      :confirm => t('message', :scope => 'refinery.yuzublog.admin.posts.delete'),
      :method => :delete
