%ul
  %li= render :partial => "/refinery/admin/search", :locals => { :url => main_app.refinery_admin_comments_path }
  %li
    =link_to(t('list_blogs', :scope=>'refinery.yuzublog.admin.all'), main_app.refinery_admin_blogs_path(), {:class => "back_icon"})