%li{:class=> "clearfix record #{cycle('on', 'on-hover')}"}
  %span.title=comment.title
  %span.preview=comment.comment
  %span.actions
    =link_to refinery_icon_tag('application_edit.png'), main_app.edit_refinery_admin_comment_path(comment),
      :title=> t('edit', :scope=>'refinery.yuzublog.admin.comments')
    =link_to refinery_icon_tag('delete.png'), main_app.refinery_admin_comment_path(comment),
      :class=> 'cancel confirm-delete', :title=> t('delete', :scope=>'refinery.yuzublog.admin.comments'),
      :confirm => t('message', :scope => 'refinery.yuzublog.admin.comments.delete'),
      :method => :delete
