%li{:class=> "clearfix record #{cycle('on', 'on-hover')}"}
  %span.site=blog.site.try(&:name) ||  "(Not tied to a site)"
  %span.title=blog.name
  %span.actions
    =link_to refinery_icon_tag('application_edit.png'), main_app.edit_refinery_admin_blog_path(blog),
      :title=> t('edit', :scope=>'refinery.yuzublog.admin.blogs')
    =link_to refinery_icon_tag('delete.png'), main_app.refinery_admin_blog_path(blog),
      :class=> 'cancel confirm-delete', :title=> t('delete', :scope=>'refinery.yuzublog.admin.blogs'),
      :confirm => t('message', :scope => 'refinery.yuzublog.admin.blogs.delete'),
      :method => :delete
    =link_to "Posts", main_app.refinery_admin_blog_posts_path(blog)
